header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: antiquewhite;
}

.search-bar {
  width: 15rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px black solid;
  font-family: inherit;
}